[Desktop Entry]
Encoding=UTF-8
Name=Link to ../_images/cmap_image_select.png
Type=Link
URL=file:///home/pankaj/work/enthought/ETS/chaco-docs/docs/build/html/_images/cmap_image_select.png
Icon=image-png
